.profile {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
  box-sizing: border-box;
}

@media screen and (max-width: 760px) {
  .profile {
    flex-wrap: wrap;
    gap: 0;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 549px) {
  .profile {
    padding: 0 19px 0 19px;
  }
}
