.profile__top-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (max-width: 549px) {
  .profile__top-row {
    max-width: 282px;
  }
}
