.profile__changer{
    width: 24px;
    height: 24px;
    margin-top: 9px;
    background-color: transparent;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid white;
    cursor: pointer;
    background-image: url('../../../images/svg_icons/pen1.svg');
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 50%;
}

.profile__changer:hover{
    opacity: .6;
}

@media screen and (max-width: 549px) {
    .profile__changer{
        background-size: 7.5px;
        width: 18px;
        height: 18px;
        margin-top: 3px;
    }
}